<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <h3 style= "font-size: 30px" class="panel-title">Contacts</h3>
      </div>

      <div class="col-xs-4 new-contact-button">
        <a routerLink="new" class="btn btn-success">New Contact</a>
      </div>
    </div>
  </div>
  <div cdkDropList
     id="contactList"
     [cdkDropListData]="contacts"
     [cdkDropListConnectedTo]="['groupList']" class="panel-body">
    <cms-contact-item cdkDrag  
      [cdkDragData]="contact"[routerLink]="contact.id" *ngFor="let contact of contacts" [contact]="contact"/>
  </div>
</div>
