



<div class="panel panel-default">
    <!-- 1. PANEL HEADER: Contains the Title and the Action Button -->
    <div class="panel-heading">
    <div class="row">
    <div class="col-xs-8">
    <!-- Title of the Panel -->
    <h2 class="panel-title">{{contact.name}}</h2>
    </div>
</div>
    <div class="row">
        <span class="pull-left"><img [src]="contact.imageUrl"></span>
        <span class="pull-right">
        <a href= "#" class="btn btn-primary"> Edit </a>
        <a href= "#" class="btn btn-danger"> Delete </a></span>
    </div>

</div>
    <!-- 2. PANEL BODY: This is where the dynamic list will be placed next -->
    
    <div class="panel-body">
       
    </div>
</div>